.container-fluid
  .row-fluid
    %h1 What am I going to be learning about?
    %br
    %br
  .row-fluid
    .span8
      %p.about-font
        Good guestion. I don't know much myself, to be honest. I was thinking about going over basic programming principles. The first steps, so to speak.
        I'll have people make their own 'hello world' programs, teach them about different data types, logic, etc. Depending on how big this gets,
        I'd like to go over web application programming. How to build a very simple web site from scratch using some newer technologies that have emerged in the last
        few years. Sinatra, Ruby, HAML, CSS, etc. Knowledge of these skills are in high demand, so learning this stuff is can be quite profitable. I'll also brush over
        other languages and what they are used for. C, C++, Java, PHP, Python, etc.
    .span4
      .container-fluid
        %p.code-selection
          \#include < stdio.h >
          <br><br>
          int main(void) {
          <br>
          <br>
          printf("So you want to learn how to code, huh?");
          <br>
          <br>
          return 0;
          <br>
          <br>
          }
    .row-fluid
      .span8
        %h2 But I don't want to learn web development :(
        %p.about-font
          %br
          Well, what do you want to learn? Android/iOS development? Windows application development? Embedded devices development (I'll let you know what that is if you don't know) How to build your operating system? My skills are somewhat specialized but I can easily point you in the right direction.
      .span4
        .container-fluid
          %p.code-selection
            \#!/usr/bin/ruby
            <br>
            <br>
            puts "Well, stay a while and listen!"
    .row-fluid
      .span8
        %h2 Okay, I learn to be a 1337 hackorz. Cool. Now what?
        %p.about-font
          %br
          Depends on how lucky you are and how knowledgable you are. I'll try and share my own personal experiences and what I've learned from fellow programmers to try and give you a good idea of what
          may help you land a job if you have the right skills. Being a good programmer doesn't just have to do with how well you can write code or how smart you are and I'll go over the extra fluff needed to be a responsible programmer.

		