%br

%h1.offset0
  Tyler Hampton
  <br>
  dr.frankinfurter@gmail.com

%br
%br
%br

.row-fluid
  %h2.offset0 Yeah, that's your contact info, but who are you really?
  %br
  .container-fluid
    %p.hero-unit
      I am a former student from the glorious Hallmark Charter high school. Ask around, and I'm sure people will spit when they hear my name. Especially the teachers. After I graduated, I moved to San Jose and became a DevOps Engineer. I currently build automation tools that are used to manage my company's cloud infrastructure. Automation is my thang and I work closely with Amazon's EC2 service - deploying, managing, and fixing servers that exist in the cloud. I absolutely love my job, to be honest. 