.container-fluid
	.row-fluid
		.span12
			.row-fluid
				.hero-unit
					%h1
						Hallmark's Computer Class
					%br
					%p
						Hello there! This is a little site I put up to inform people about an upcoming seminar on programming that will be hosted at the Hallmark Charter school. There is no solid date yet for when this is going to happen, but I thought this may help iron out some details on what the class is going to be about. Please note that this page may change at any time. Below are some of the core pieces of technology I'll go over and are the same technologies that I used to build the site. If things take off I'll have a class on building something like this. Ta-ta for now.
					%br
					%p
						%a.btn.btn-primary.btn-large{:href => '/about'}
							Learn more &raquo;
			.row-fluid
				.span4
					%h2
						HTML
					%p
						HTML stands for Hyper Text Markup Language and is the primary building block of the web. It is used by browsers to render text, display images, create forms, etc. Any intro to web design, web programming, and so forth is going to teach you HTML. 
				.span4
					%h2
						CSS
					%p
						CSS stands for Cascading Style Sheets. CSS controls the general formatting of a web site. In other words, how far apart buttons are, the font of some text, the weight of said font, which graphics to use for what types of buttons, the color of the background, and so on. It is used to style HTML, basically.
				.span4
					%h2
						JavaScript
					%p
						JavaScript is one of the main programming languages of the web. You simply CAN NOT be a front-end web developer without knowing JavaScript. It is responsible for a lot of the 'cool' animations that websites can do. If you see something fade, pop, move, or shidizzle on the web page, then JavaScript is probably the language that made it happen. JavaScript alters the behavior of web pages. 
			.row-fluid
				.span4
					%a.btn{:href => 'http://en.wikipedia.org/wiki/HTML'}
						View Details &raquo;
				.span4
					%a.btn{:href => 'http://en.wikipedia.org/wiki/Cascading_Style_Sheets'}
						View Details &raquo;
				.span4
					%a.btn{:href => 'http://en.wikipedia.org/wiki/JavaScript'}
						View Details &raquo;
			.row-fluid
				.span4
					%br
					%h2
						HAML
					%p
						HAML is HTML simplified. It just makes HTML prettier and easier to work with. Because of a lot of web technologies are kind of long in the tooth, there have been recent movements to stream line them and make them more modern. CoffeeScript, for example, is similar to HAML since it replaces the core functionality that JavaScript provides with something simpler to read and write.
				.span4
					%br
					%h2
						Ruby
					%p
						Ruby is the awesome programming language that I will be teaching the class with. Similar to Python, it is an object-oriented, high-level language. Ruby was the language used to build the extremely popular web framework 'Ruby on Rails'. It is incredibly powerful and easy to read.
				.span4
					%br
					%h2
						Sinatra
					%p
						Sinatra is a web framework that is a viable alternative to Ruby on Rails. I've found that it is a lot simpler than Rails and easier to work with. I will avoid the internals of Sinatra. and instead briefly go over what a web server is.
			.row-fluid
				.span4
					%a.btn{:href => 'http://en.wikipedia.org/wiki/Haml'}
						View Details &raquo;
				.span4
					%a.btn{:href => 'http://en.wikipedia.org/wiki/Ruby_(programming_language)'}
						View Details &raquo;
				.span4
					%a.btn{:href => 'http://en.wikipedia.org/wiki/Sinatra_(software)'}
						View Details &raquo;
